# MATH

numpy>=1.21
scipy>=1.8
numba>=0.60

# IO

h5py>=3.7
tqdm>=4.64

# TESTING

pytest >= 8.0.0
pytest-cov >= 4.0.0

# DOCS

sphinx
sphinx-git==11.0.0
sphinx-rtd-theme==1.1.0
sphinxcontrib-bibtex==2.5.0
sphinx-math-dollar
sphinx_toolbox
sphinx-favicon
pybtex
pybtex-docutils
nbstripout

# PLOTTING

matplotlib>=3.5.2
